<div class="container">
        <div class="white-box-wrapper maintainance-mode-wrapper clearfix">
                        <h3 class="maintainance-title">Maintainance Mode</h3>
                        <div class="form-group">
                                        <h4 class="utm-param-head utm-hidden-sm">
                                            Enable Maintainance Mode
                                        </h4>
                                        <div class="switch">
                                            <input id="big-image" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-change="maintainance.changeMode(maintainance.isMaintainanceEnabled)" ng-model="maintainance.isMaintainanceEnabled">
                                            <label for="big-image"></label>
                                        </div>
                        </div>
        </div>        
</div>