<div class="container">
    
    <div class="white-box-wrapper user-wrapper clearfix" ng-show="!isUnderMaintainance">
            <h3 class="text-center">Users</h3>
        <table class="table table-bordered">           
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <!-- <th>Address</th> -->
                    <th>Domains</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users.usersList">
                    <td>{{user.name !== ' '? user.name: 'User'}}</td>
                    <td>{{user.email}}</td>
                    <!-- <td><a href="yourvirtualhelpmate.com">yourvirtualhelpmate.com</a></td> -->
                    <td>
                        <p ng-repeat="domain in user.domains">{{domain.domain_address}}</p>
                    </td>
                    <td class="edit-delete">
                        <a class="fa fa-pencil edit-icon"></a>
                        <a class="fa fa-trash trash-icon"></a>
                    </td>
                </tr>               
            </tbody>
        </table>
    </div>
    <div class="white-box-wrapper user-wrapper clearfix" ng-show="isUnderMaintainance">
        <h3>Application in maintainance mode, change it in Maintainance Mode section</h3>
    </div>
</div>